Repository miaucl/bring-api, pull requests merged in 2025-01, with the labels that each got.

#119 Set name and email as optional fields in `BringAuthResponse`
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
Labels: bug

#122 Catch `MissingField` exceptions
  bring_api/bring.py
  bring_api/exceptions.py
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
Labels: run smoke test

#124 Set additional fields as optional and use empty str as defaults
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
Labels: bug, run smoke test

#123 Fix type in `BringUserListSettingEntry`
  bring_api/bring.py
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
Labels: run smoke test

#126 Revert UUID types back to str
  bring_api/bring.py
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
  tests/test_bring.py
Labels: run smoke test

#129 Add support for notification type `LIST_ACTIVITY_STREAM_REACTION`
  bring_api/__init__.py
  bring_api/bring.py
  bring_api/types.py
  tests/test_bring.py
Labels: run smoke test

#130 Add method `get_lists_users` to retrieve members of a shared list
  bring_api/bring.py
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
  tests/conftest.py
  tests/test_bring.py
Labels: enhancement, run smoke test

#131 Fix stale error handling in `get_activity`
  bring_api/bring.py
  tests/test_bring.py
Labels: run smoke test

#134 Change `BringAuthResponse.photoPath` to optional field
  bring_api/types.py
Labels: run smoke test

#135 Use enum for status in `BringItemsResponse`
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
Labels: run smoke test

#128 Release version 1.0.0
  CHANGELOG.md
  bring_api/__init__.py
Labels: run smoke test

#136 Fix publish script
  .github/workflows/publish-to-pypi.yml
Labels: run smoke test

#139 Change optional fields to use None type
  bring_api/types.py
  tests/__snapshots__/test_bring.ambr
Labels: bug, run smoke test
